# OpenAI API Key
VITE_OPENAI_API_KEY=YOUR_OPENAI_API_KEY

# CoinGecko API Key
VITE_COINGECKO_API_KEY=YOUR_COINGECKO_API_KEY

# ExchangeRate API Key
VITE_EXCHANGE_RATE_API_KEY=YOUR_EXCHANGE_RATE_API_KEY

# NewsAPI Key
VITE_NEWS_API_KEY=YOUR_NEWS_API_KEY

# Firebase Client Configurations
VITE_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=YOUR_PROJECT_ID.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
VITE_FIREBASE_STORAGE_BUCKET=YOUR_PROJECT_ID.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
VITE_FIREBASE_APP_ID=YOUR_APP_ID
